html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    background-color: black;
}

header .navbar {
    background-color: transparent;
}

#logo-nav {
    max-height: 30px;
}

/* hamburger menu background-color */
@media (max-width: 767px) {
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.8);
        padding-left: 15px;
        border-radius: 15px;
    }
}

/* carousel del header */
.carousel-item {
    max-height: 100vh;
}

hr {
    color: #0DCAF0;
    border: 1px solid #0DCAF0;
}

/* footer */
footer a {
    text-decoration: none !important;
    color: white !important;
}